{% extends 'messages_feature/messages_layout.html' %}
{% block title %}Drafts{% endblock %}
{% block nav_messages %}active{% endblock %}

{% block messages_content %}

<div class="card border-0 shadow-sm main-card">
    <div class="card-body p-4">

        <h3 style="color:#4277D6;" class="fw-bold mb-3">Drafts</h3>

        {% for draft in messages %}
        <div class="card border-0 shadow-sm mb-3">
            <div class="card-body">

                <h5>{{ draft.subject|default:"(No Subject)" }}</h5>

                <p>
                    <strong>To:</strong>
                    {% for user in draft.receiver.all %}
                        {{ user.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>

                <small class="text-muted">
                    {{ draft.timestamp|date:"M d, Y H:i" }}
                </small>

                <div class="mt-2">
                    <a href="{% url 'compose' %}?draft_id={{ draft.id }}"
                       class="btn btn-sm btn-outline-primary">
                        Edit
                    </a>
                    <a href="{% url 'delete_message' draft.id %}"
                       class="btn btn-sm btn-outline-danger">
                        Delete
                    </a>
                </div>

            </div>
        </div>
        {% empty %}
            <p class="text-muted">No drafts saved.</p>
        {% endfor %}

    </div>
</div>

{% endblock %}