{% extends 'messages_feature/messages_layout.html' %}

{% block title %}Message Detail{% endblock %}

{% block messages_content %}

<div class="card border-0 shadow-sm main-card">

    <div class="card-body p-4">

        <!-- subject -->
        <h4 class="fw-bold mb-3">
            {{ message.subject|default:"(No Subject)" }}
        </h4>

        <!-- sender -->
        <p><strong>From:</strong> {{ message.sender.username }}</p>

        <!-- receivers -->
        <p>
            <strong>To:</strong>
            {% for user in message.receiver.all %}
                {{ user.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <hr>

        <!-- message body -->
        <p style="white-space: pre-line;">
            {{ message.body|linebreaks }}
        </p>

        <!--  quick actions -->
        <div class="d-flex gap-2 mt-3">

            <a href="{% url 'compose' %}?to={{ message.sender.id }}&subject=Re: {{ message.subject|urlencode }}"
               class="btn btn-primary btn-sm">
                Reply
            </a>

            <a href="{% url 'compose' %}?to={{ message.sender.id }}&subject=Re: {{ message.subject|urlencode }}"
               class="btn btn-outline-primary btn-sm">
                Reply All
            </a>

            <a href="{% url 'delete_message' message.id %}"
               class="btn btn-danger btn-sm">
                Delete
            </a>

        </div>

    </div>
</div>

{% endblock %}